#blog{
	padding: 5% 10%;
}

#blog input, #blog textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

#list{
	margin-top: 2em;
}

#list ul{
	margin-top: 1em;
}

#blog input[type=submit] {
	cursor: pointer;
}