h1 {
    text-align: center;
    padding: 10px 0;
    }

iframe {
    height: 500px;
    width: 600px;
    padding-top: 10px;
    border: 0;
}

input {
    padding: 10px 2px;
    margin: 8px 0;
    box-sizing: border-box;
}

.inputfield {
    width: 60%;
}
      
.feedback {
    height: 120px;
    width: 100%;
}

.left {
    float: left;
    display: table-cell;
    padding: 20px 0 20px 5%;
}

.right {
    padding: 20px 50px;
    display: table-cell;
    width: 35%;
}

.form {
    background-color: #CDCDCD;
    padding: 30px;
}

@media screen and (max-width: 1167px) {
    .left {
        display: block;
        padding: 20px 30px;
        width: 90%;
        margin: 0 5%;
        float: none;
    }

    .right {
        display: block;
        padding: 20px 30px;
        width: 80%;
        margin: 0 5%;
    }

    iframe {
        width: 90%;
        padding: 10px 5px;
    }
}

@media screen and (max-width: 480px) {
    iframe {
        height: 300px;
        width: 90%;
        padding-top: 10px;
    }
}