.wrapper{
    position: relative;
    margin: 0% 10%;
}
.wrapper :after{
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
}
.left{
    width:40%;
    height: auto;
}
.right{
    width:60%;
    height: auto;
    right: 0;
}
.item{
    position: relative; 
    margin: 10px auto;
}
.center{
    text-align: center;    
}
.centerContent{
    display:flex; 
    align-items:center; 
    justify-content:center;
    text-align: center;
}

.reportCard{
    margin: 15px;
    padding: 15px;
    background: #F1F1F1;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
}
.petCards{
    display: flex;
    background-color: #F1F1F1;
    margin: 15px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.card-column{
    padding: 15px;
    width: 50%;
}
.pic-upload{
    position: relative;
    max-width: 205px;
    margin-bottom: 10px;
}
.pic-preview{
    width: 192px;
    height: 192px;
    position: relative;
    border: 6px solid #F8F8F8;
}
.imagePreview{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
input{
    line-height: 2em;
}
.pet-pic{
    height: 192px;
    width: 192px;
    position: relative;
}
.fit-center{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
label{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        position: relative;
    }
    .reportCard{
        padding: 50px;
    }
}


@media screen and (max-width: 480px) {
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        position: relative;
    }
    .card-column{
        width: auto;
    }
    .petCards{
        display: flex;
        flex-direction: column;
    }
    .centerContent{
        display: flex;
        flex-direction: column;
    }

}