.flex{
    display: flex;
    flex-wrap: wrap;
}

.content{
    margin-top: 1em;
}
    .container {
      position: relative;
      width: 150px;
    height: 150px;
    overflow: hidden;
    }
    .overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

    #resource{
        padding: 5% 10%;
    }
    .resource-img{
        width: 150%;
        height: auto;

    }